// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }


    .votes, .status {
        width: 60px;
        height: 60px;
    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.answer-accepted {
            background: $color-green;
            color: $color-white;
        }
    }

    .view {
        margin-top: 10px;
    }

    form.form-delete {
        display: inline;
    }
}

.votecontrols {
        min-width: 60px;
        margin-right: 40px;
        text-align: center;
        color: $gray-800;

span, a {
        display: block;
    }

span {
        &.votes-count {
            font-size: 25px;
        }
        &.favorites-count {
            font-size: 12px;
        }
    }

a {
        cursor: pointer;
        color: $gray-700;

    }

.off {
    color: $gray-500;
    }

.off:hover  {
        color: $gray-500;
}
.favorited {
        color: $warning;
    }
.favorited:hover {
        color: $warning;
    }
.vote-accepted {
    color: $green;
}
}
